<form class="example-form">  
    <table class="example-full-width" cellspacing="0"><tr>
      <td><mat-form-field class="example-full-width">
        <mat-label>Nombre</mat-label>
        <input matInput>
      </mat-form-field></td>
      <td><mat-form-field class="example-full-width">
        <mat-label>Categoria</mat-label>
        <input matInput>
      </mat-form-field></td>
      <td><mat-form-field class="example-full-width">
        <mat-label>Monto</mat-label>
        <input matInput>
      </mat-form-field></td>
    </tr></table> 
    
    <div class="example-button-row">
        <button mat-fab extended color="primary">          
          Guardar
        </button>
    </div>
  </form>

  <app-record-list></app-record-list>
  