<div class="body_content">
  <div class="content" [ngStyle]="{'margin-top': '10%',   'margin-bottom': 'justify' }">
    <div>
      <h2 class="ui teal header">Entra a tu cuenta</h2>
      <form [formGroup]="formLogin" (ngSubmit)="onSubmit()" class="ui middle form">
        <div class="ui stacked segment">

          <div class="field">
            <label class="form-label">Correo electrónico</label> <br>
            <input type="text" formControlName="email" />
          </div><br>

          <div class="field">
            <label class="form-label">Contraseña</label> <br>
            <input type="password" formControlName="password" />
          </div> <br>
          <input class=" submit button" type="submit" value="Entrar" />
        </div>
      </form>

      <div><br>
        ¿Todavía no tienes una cuenta? <br>
        <button mat-fab extended color="primary" routerLink="/registro">
          <mat-icon>login</mat-icon>
          Crea tu cuenta
        </button>
      </div>
      <br>
    </div>
  </div>
</div>