<mat-toolbar color="primary">
    <mat-toolbar-row>
      <span>Presupuesto:</span>
      <span class="example-spacer"></span>
      <mat-icon class="example-icon" aria-hidden="false" aria-label="Example heart icon"> money</mat-icon>
      <p> aqui se mostraria</p>
    </mat-toolbar-row>

    <mat-toolbar-row>
      <span>Gastos Totales:</span>
      <span class="example-spacer"></span>
      <mat-icon class="example-icon" aria-hidden="false" aria-label="Example user verified icon">attach_money</mat-icon>
      <p> aqui se mostraria </p>
    </mat-toolbar-row>

    <mat-toolbar-row>
      <span>Balance</span>
      <span class="example-spacer"></span>
      <mat-icon class="example-icon" aria-hidden="false" aria-label="Example heart icon"> local_atm</mat-icon>
      <p> aqui se mostraria</p>
    </mat-toolbar-row>
  </mat-toolbar>
