.table{
  width: 100%;
  height: 100%;
  background-color: rgb(36, 51, 142);
  border-radius: 20px;
  color: aliceblue;
}

.content{
  
  padding: 5%;
  padding-left: 5%;
  padding-right: 5%;
  }
  .td{
    padding-right: 10px;
  }